.m-button {
    $self: &;
    line-height: 1.25;
    min-width: 2.5em;
    height: 2.5em;
    border-radius: .15em;
    border-color: #c8d1e0;
    border-width: 1px;
    font-weight: 600;
    outline: 0;
    padding: 0 .5em;
    font-size: 1rem;
    color: #3272d9;
    transition: all .1s ease-in;
    &:hover {
        background-color: #f5f7fa;
        border-color: #3272d9;
    }
    &:disabled {
        color: #afbacc;
        background-color: #ebeff5;
        border-color: transparent;
    }
    &--success {
        color: #2a854e;
        &:hover {
            border-color: #2a854e;
        }
        &:focus {
            box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px, #2a854e 0px 0px 0px 2px;
        }
        &:active {
            background-color: #ebeff5;
            border-color: darken(#2a854e, 2);
        }
    }
    &--danger {
        color: #de1b1b;
        &:hover {
            border-color: #de1b1b;
        }
        &:focus {
            box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px, #de1b1b 0px 0px 0px 2px;
        }
    }
    &--warning {
        color: #ad5f00;
        &:hover {
            border-color: #ad5f00;
        }
    }
    &--minimal {
        border-color: transparent;
        &:hover {
            border-color: transparent;
        }
        &:active {
            background-color: #ebeff5;
        }
        &:disabled {
            background-color: transparent;
        }
    }
    // sizing 
    &--small {
        width: 1em;
        height: 1em;
    }
    &--medium {
        width: 2.5em;
        height: 2.5em;
    }
    &--large {
        width: 4em;
        height: 4em;
    }
    &--jumbo {
        width: 6em;
        height: 6em;
    }
    &--full-width {
        width: 100%
    }
    &--circular {
        display: inline-block;
        border-radius: 50%;
        width: 2.5em;
        line-height: 1;
        >* {
            padding: 0 !important;
            margin: 0 !important;
        }
    }
    //icons
    [role="presentation"]:first-child {
        margin-right: 0.5em;
    }
    [role="presentation"]:last-child {
        margin-left: 0.5em;
    }
}